.veiwTask{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 5px 0px;
}

.firstdiv{
    height: 400px;
    width: 900px;
    border-radius: 10px;
    padding: 10px;
    background: rgb(90, 138, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    color: white;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(185, 194, 209);
    margin-bottom: 10px;
}

.cdiv{
    height: 320px;
    width: 830px;
    gap: 10px;
    overflow-y: auto;
    padding: 4px;
}
.card{
    height: 80px;
    width: 400px;
    background: white;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    margin: 4px;
}
.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tdiv{
    width: 75%;
    height: 100%;
    gap: 5px;
}
.tdiv h7{
    height: 40%;
    width: 100%;
    gap: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 2px;
}
.tdiv hr{
    width: 90%;
}
.bdiv{
    height: 100%;
    width: 25%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bdiv button{
    height: 25px;
    width: 80px;
    color: white;
    background: rgb(90, 138, 226);
    font-size: 1rem;
    padding: 1px 6px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.d:hover{
    background: #ff7474;
    border: 1px solid #b35757;
}
.c:hover{
    background: #84ff74;
    border: 1px solid #79b357;
}
.notask{
    color: white;
}